.Homepage-layout1{
    width:90vw;
    height:80vh;
    display: flex;
    flex:1;
    justify-content:space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}

.Homepage-layout1-container1{
    letter-spacing: 0px;
    width:90%;
    height: 100%;
}

.Homepage-layout1-container1-honours h3{
    font: normal normal 600 30px/110px Cormorant SC;
    color: #FF3147;
    margin:0;
    padding:0;
}

.Homepage-layout1-container1-title h1{
    font: normal normal bolder 60px/80px Cormorant SC;
     margin:0;
     padding:0;
}

.Homepage-layout1-container1-about{
    font: normal normal normal 16px/30px Poppins;
    word-wrap: break-word;
}

.Homepage-layout1-container1-button{
    font: normal normal 600 14px/26px Poppins;
}

.Homepage-layout1-container1-button button{
    letter-spacing: 1.4px;
    height:40px;
    width: 150px;
    border:0;
    color: white;
    background-color:#FF3147;
    cursor: pointer;
}

.Homepage-layout1-container1-button button a{
    text-decoration: none;
    color: white;
}

.Homepage-layout1-container2{
    width:90%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homepage-layout1-container2-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}