.Homepage-layout3{
    width:90vw;
}
.Homepage-layout3-container1{
    display: flex;
    justify-content: center;
    font: normal normal 600 24px/26px Cormorant SC;
    color: #FF3147;
} 

.Homepage-layout3-container2{
    display: flex;
    justify-content: center;
    font: normal normal bold 45px/65px Cormorant SC;
}
.Homepage-layout3-container3{
    /* max-width: 80%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Homepage-layout3-container3-item{
    flex:1;
    padding:2%;
    align-items: center;
}
.Homepage-layout3-container3-item-title p{
    font: normal normal medium 20px/80px Poppins;
    font-weight: 600;
}

.Homepage-layout3-container3-item-about p{
    font: normal normal normal 16px/26px Poppins;
}