.Homepage-layout4{
    width: 95vw;
}
.Homepage-layout4-container3{
    height:100%;
    display: flex;
    justify-content:center;
}
.Homepage-layout4-container3 .screen{
    width:770px;
    height: 660px;
    margin-right: 5%;
}
.Homepage-layout4-container3 .screen img{
    width:100%;
    height: 100%;
}
.screen-channels{
    width: 370px;
    max-height:100%;
    display: flex;
    flex-direction: column;
}
.channel{
    background: #F6F6F6 0% 0% no-repeat padding-box;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.channel:hover{
    color: #ffffff;
    background: #FF3147 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.channel div{
    margin:10px;
}
.channel-topic{
    font: normal normal medium 20px/80px Poppins;
}
.channel-about{
    font: normal normal normal 16px/28px Poppins;
}
