.Homepage-layout2 {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FAFAFA;
}

.Homepage-layout2-container1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    color: #FF3147;
    font: normal normal 600 24px/26px Cormorant SC;
}

.Homepage-layout2-container2 {
    display: flex;
    justify-content: center;
}

.Homepage-layout2-container2-item1 {
    font: normal normal bold 45px/65px Cormorant SC;
    flex: 1 1 50%;
    min-width: 30%;
}

.Homepage-layout2-container2-item1 h2 {
    padding: 0;
}

.Homepage-layout2-container2-item2 {
    font: normal normal normal 16px/30px Poppins;
    flex: 1 1 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homepage-layout2-container2-item2 p {
    word-wrap: break-word;
    max-width: 60%;
}

.Homepage-layout2-container3 {
    max-width: 100%;
    padding: 2%;
}

#slider-move-left:hover,
#slider-move-right:hover {
    opacity: 0.7;
}

#slider-move-right {
    position: absolute;
    border: none;
    background: transparent;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    font-size: 1.5rem;
    opacity: 1;
    cursor: pointer;
}

#slider-move-left {
    position: absolute;
    border: none;
    background: transparent;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    font-size: 1.5rem;
    opacity: 1;
    z-index:3;
    cursor: pointer;
}

.Homepage-layout2-container3 .slider-wrapper {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.Homepage-layout2-container3 .slider-wrapper .image-list {
    overflow: hidden;
    display: flex;
    gap: 5px;
}

.Homepage-layout2-container3 .slider-wrapper .image-list .image-item {
    position: relative;
    min-width: 25%;
    height: 100%;
}

.slide-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FF3147 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.86;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.overlay h1 {
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.overlay p {
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.overlay button {
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    height: 50px;
    text-align: left;
    letter-spacing: 1.4px;
    color: #FF3147;
    cursor: pointer;
}

.image-item:hover .overlay {
    height: 100%;
}

.Homepage-layout2-container3 .slider-dots {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Homepage-layout2-container3 .slider-dots img {
    padding-top: 1%;
    margin: 0.7%;
}
